annotated-types==0.7.0
charset-normalizer==3.4.6
click==8.3.1
colorama==0.4.6
cssselect2==0.9.0
freetype-py==2.5.1
freezegun==1.5.1
iniconfig==2.0.0
lxml==6.0.2
numpy==1.26.4
opencv-python==4.11.0.86
opencv-python-headless==4.9.0.80
packaging==24.2
pillow==12.1.1
pluggy==1.5.0
pycairo==1.29.0
pydantic==2.10.6
pydantic_core==2.27.2
pylibdmtx==0.1.10
pytest==8.3.4
pytest-freezegun==0.4.2
python-dateutil==2.9.0.post0
reportlab==4.4.10
rlPyCairo==0.4.0
setuptools==80.9.0
six==1.17.0
svglib==1.6.0
tinycss2==1.5.1
tqdm==4.67.3
typing_extensions==4.12.2
webencodings==0.5.1
zxing-cpp==2.3.0